.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff !important;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.nav-link:hover {
  color: #af2e1c !important;
}

.nav-link:focus {
  color: #af2e1c !important;
}

.center-items {
  align-items: center !important;
}
