* {
  margin: 0;
  padding: 0;
}

.logo {
  margin-top: 25px;
}

.title {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  float: left;
  font-size: 90px;
  font-weight: 700;
  color: white;
}

.cv {
  align-items: center;
}

.cover {
  display: flex;
  flex-direction: column;
}

.slug {
  color: white;
  font-weight: 400;
  font-size: 20px;
  width: 480px;
}
.img-cover {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-auth {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.img-book {
  float: right;
  width: 500px;
}

.title-sign-up {
  color: white;
  font-weight: 500;
  font-weight: 50px;
}

.form-self {
  color: white !important;
  border: 2px solid #bcbcbc !important;
  background: rgba(210, 210, 210, 0.25);
}

.form-self-black {
  color: white !important;
  border: 2px solid #bcbcbc !important;
  background: rgba(210, 210, 210, 0.25);
}
.form-self-black:focus {
  color: black !important;
  box-shadow: none !important;
  border: 2px solid #bcbcbc !important;
  background: rgba(210, 210, 210, 0.25);
}
.form-self:focus {
  color: white !important;
  box-shadow: none !important;
  border: 2px solid #bcbcbc !important;
  background: rgba(210, 210, 210, 0.25);
}

.sign-up {
  margin-right: 25px;
  background-color: #af2e1c;
  border: none;
  width: 115px;
  font-size: 400;
}

.sign-up:hover {
  box-shadow: none !important;
  background-color: #ca3623 !important;
  border: none !important;
}

.sign-up:focus {
  box-shadow: none !important;
  border: none !important;
  background: #ca3623 !important;
}

.sign-in {
  background-color: #ffffff;
  border: none;
  width: 115px;
  color: black;
  font-size: 400;
}

.sign-in:hover {
  box-shadow: none !important;
  background-color: #eeeeee !important;
  color: black !important;
  border: none !important;
}

.sign-in:focus {
  box-shadow: none !important;
  border: none !important;
  color: black !important;
  background: #eeeeee !important;
}

.bg-blacks {
  background-color: #161616 !important;
  border-radius: 3px !important;
  color: white;
}

.btn-new-signup {
  margin-top: 25px;
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #af2e1c;
  border: none;
}

.btn-new-signup:hover {
  box-shadow: none !important;
  border: none !important;
  background: #ca3623 !important;
}

.btn-new-signup:focus {
  box-shadow: none !important;
  border: none !important;
  background: #ca3623 !important;
}

.klik {
  color: #af2e1c;
  cursor: pointer;
}

.foot {
  margin-top: 15px;
  color: white;
  font-size: 18px;
  text-align: center;
}
