.mt-8 {
  margin-top: 12%;
}

.width-min {
  width: 60%;
}

.btn-danger {
  color: #fff;
  background-color: #af2e1c !important;
  border-color: #af2e1c !important;
  margin-left: 15px !important;
}

.btn {
  border-radius: 0.25rem !important;
}

.form-control {
  border-radius: 0.25rem !important;
  color: white !important;
  border: 2px solid #bcbcbc !important;
  background: rgba(210, 210, 210, 0.25);
}
.form-control:focus {
  color: white !important;
  box-shadow: none !important;
  border: 2px solid #bcbcbc !important;
  background: rgba(210, 210, 210, 0.25);
}
