.img-view {
  width: 380px !important;
  height: 480px !important;
  border-radius: 10px;
}

.title-desc {
  font-family: "Times New Roman", Times, serif;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
  color: white;
}

.public-desc {
  color: white;
}

.icons {
  margin-left: 10px;
}

.btn-danger {
  color: #fff;
  background-color: #af2e1c !important;
  border-color: #af2e1c !important;
}

.btn {
  border-radius: 0.25rem !important;
}

.download {
  color: #fff;
  background-color: #af2e1c !important;
  border-radius: 0.25rem !important;
  border: none;
  width: 150px;
}

.download:focus {
  box-shadow: none !important;
  background-color: #af2e1c !important;
  border: none !important;
}

.download:hover {
  box-shadow: none !important;
  background-color: #c93623 !important;
  border: none !important;
}

.paragraf {
  font-size: 20px;
  font-weight: 200;
  color: #929292;
}
